mixin commentBlock(comment = {})
    .commentBlock
        a(href=routes.userDetail(comment.id))
            if comment.avatarUrl === null || comment.avatarUrl === undefined || comment.avatarUrl === {}
                .u-avatar
            else
                img#commentAvatar(src=comment.avatarUrl)
        div#jsCommentContent
            div
                a(href=routes.userDetail(comment.id))
                    span#commentCreator=comment.name
                span#jsCommentCreatedAt=comment.createdAt
            span#commentText=comment.text
            form.jsEditText.showing
                input(type="text").editInput
        if loggedUser && (loggedUser._id === comment.creator.toString())
            .JsEllipsis
                button(type="buton").jsEllipsisBtn
                    i.fas.fa-ellipsis-v.eliminatingClick
                div.editmenu.showing
                    form.jsEditForm
                        button(type="submit").elliBtn#jsEditBtn
                            i.fas.fa-pencil-alt 
                            span.medu--edit EDIT
                    form.jsCommentDeleteForm
                        button(type="submit").elliBtn#jsDeleteBtn
                            i.fas.fa-trash 
                            span.menu--delete DELETE